# Service file for an audio stream:
# 1. check if ffmpeg addresses the correct input with "plughw:2,0"
# 2. copy or link this file to /etc/systemd/user
# 3. start as root "with "systemctl start stream.service"

[Unit]
Description=auto start stream
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/usr/bin/amixer -c 2 -q set 'Mic',0 100%
ExecStart=/usr/bin/ffmpeg -ar 44100 -ac 1 -f alsa -i plughw:2,0 -f mp3 -listen 1 tcp://0.0.0.0:5002
User=pi
WorkingDirectory=/home/pi
Restart=always

[Install]
WantedBy=multi-user.target
