
config.json
stream.log
*.sicher

app/00-index-js.txt
app/cache.manifest
app/birdhouse/node_modules/
app/birdhouse/config_stage.js

config/install/ffmpeg
config/install/x264

data/images/
data/videos/
data/other/
data/downloads/
data/couchdb/_dbs.couch
data/couchdb/_nodes.couch

server/__pycache__/
server/modules/__pycache__/
server/modules/dht11/__pycache__/

.idea/
tryout/
/.env
/data/couchdb/*
/log/*

Notizen.md
Notes.md
notes.md
/data/downloads/

yolov5*
yolov8*
/data/other/
