# This service is useful if you're planning to run the server without docker containers. To handle the server as
# a service which automatically starts on system startup and automatically restarts copy and this service
# to /etc/systemd/system/birdhouse-cam.service. Start with the following commands:
#
# $ sudo systemctl daemon-reload
# $ sudo systemctl enable birdhouse-cam.service

[Unit]
Description=Birdhouse-Cam Service
After=birdhouse-cam-docker.service

[Service]
WorkingDirectory=/projects/prod/birdhouse-cam/
ExecStart=/usr/bin/python3
#ExecReload=/projects/prod/birdhouse-cam/server/server.py --shutdown
ExecStop=/projects/prod/birdhouse-cam/server/server.py --shutdown
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target