# This service is useful if you're planning to run the server without docker containers. To handle the server as
# a service which automatically starts on system startup and automatically restarts copy and this service
# to /etc/systemd/system/birdhouse-cam.service. Start with the following commands:
#
# $ sudo systemctl daemon-reload
# $ sudo systemctl enable birdhouse-cam-docker.service

[Unit]
Description=Birdhouse-Cam Docker Service (Apache, DB, Videostream)
After=network.target

[Service]
ExecStart=/usr/local/bin/docker-compose -f /projects/prod/birdhouse-cam/docker-compose-hybrid.yml up -d
ExecReload=/usr/local/bin/docker-compose -f /projects/prod/birdhouse-cam/docker-compose-hybrid.yml restart
Type=notify

[Install]
WantedBy=birdhouse-cam.service