body {
    background  : #111111
}

a {
  text-decoration: none;
}

label {
    text-decoration: none;
    color: yellow;
}

.image {
    border      : 1px solid white;
    margin      : 8px;
    width       : 40vw;
    max-width   : 250px;
}

.image_error {
    border      : 1px solid white;
    width       : 40vw;
    max-width   : 250px;
    height      : 300px;
    background  : #333333;
    color       : red;
    vertical-align  : middle;

}

.image_container {
    float       : left;
    color       : #EEEEEE;
    text-align  : center;
    width       : 50%;
}