numpy
imutils
flask
tqdm
psutil
setuptools
wheel
ffmpeg-python
#python-ffmpeg
#better-ffmpeg-progress
ffmpeg-progress
adafruit-circuitpython-dht
couchdb
requests
python_weather
board
geopy
python-dotenv