/* configuration of default HTML elements */ 

div       { font-size : 13px; }
a:link    { color  : yellow; }
a:visited { color  : white; }
a:hover   { color  : yellow; }
body      { background-color : black; color : white; }

/* configuration of streams on index - potentially has to be adapted for different webcam resolutions */
/* sample configuration: cam1/PiCamera = 1920x1080 + cam2/usb = 640x480 */

.livestream_content { 
    width        : 100%; 
    max-height   : 95vh; 
    valign       : left;
    border       : solid 1px yellow; 
}

.livestream_footer {
    width        : 100%; 
}

.livestream_main {
    max-width    : 95vw;
    max-height   : 95vh;
    transform    : scale(0.98);
    border       : 1px solid white;
}
    
.livestream_main_container {
    position     : relative;
    width        : 100%;
    height       : 100%;
    z-index      : 99;
}

.livestream_2nd {
    max-width    : 25vw;
    max-height   : 25vh;
    transform    : scale(1.0);
    border       : 1px solid white;
}

.livestream_2nd_container {
    position     : relative;
    width        : 25%;
    height       : 25%;
    z-index      : 100;
}

.livestream_links                   { position : relative; }
.livestream_startinfo               { position : relative;  cursor   : pointer;  color : gray; font-size : 10px; top : -160px;}
.livestream_record                  { position : relative;  z-index  : 105; }

/* one live stream with cam1 */

.livestream_main_container.cam1     { top    :   20px; }
.livestream_2nd_container.cam1      {}
.livestream_links.cam1              { bottom :   -5%; }
.livestream_record.cam1             {}
.livestream_startinfo.cam1          { top    :   40px; }

/* two live streams with cam1 as main stream */

.livestream_main_container.cam1cam2 { top : -0px; }
.livestream_2nd_container.cam1cam2  { top : -100%; left  : 30%; }
.livestream_record.cam1cam2         { top : -160px; }
.livestream_links.cam1cam2          { top : 50px; }
.livestream_startinfo.cam1cam2      { top : 50px; }

/* two live streams with cam2 as main stream */

.livestream_main_container.cam2cam1 { top    :   20px; }
.livestream_2nd_container.cam2cam1  { bottom :   13%;  right : -32%; }
.livestream_record.cam2cam1         { top    : -200px; left  : -15%; }
.livestream_startinfo.cam2cam1      { top    : -100px; } 
.livestream_links.cam2cam1          { bottom :   60px; }
    
/* Both streams in big if bigger screen */

@media (min-width: 800px) {

  .livestream_main {}
  .livestream_main_container {}

  .livestream_2nd_container {
      valign       : left;
      width        : 100%;
      height       : 100%;
  }
  .livestream_2nd {
      max-width    : 95vw;
      max-height   : 95vh;
      transform    : scale(0.98);
  }

  .livestream_content    {}
  .livestream_footer     {}

  .livestream_main_container.cam1cam2 { top    :     0%; left   : -25%;   width : auto; }
  .livestream_2nd_container.cam1cam2  { top    :  -100%; left   :  25%;  width : auto; }
  .livestream_record.cam1cam2         { top    :  -110%; left   :  25%; }
  .livestream_links.cam1cam2          { top    :  20px; left   : 0%; }
  .livestream_startinfo.cam1cam2      { top    :  20px; left   : 0%; }

  .livestream_main_container.cam2cam1 { top    : 0%;    left   : -20%;  z-index : 106;  }
  .livestream_2nd_container.cam2cam1  { top    : -67%;  left   : 40%;   z-index : 106;  }
  .livestream_links.cam2cam1          { top    : -60%;  left   : 20%; }
  .livestream_record.cam2cam1         { top    : -100%; left   : -0%; }
  .livestream_startinfo.cam2cam1      { top    : -65%;  left   : 20%; } 
}

/* configuration of image / thumbnail sizes */

.image_container { 
    padding : 2px; 
    float   : left; 
    valign  : left;
    height  : 180px;
}

.image_container_big { 
    padding : 2px; 
    float   : left; 
    valign  : left;
    height : 220px;
}

.thumbnail { 
    width  : 110px;
    //height : 138px;
    margin-bottom: 5px;
}

.thumbnail_big {
    width  : 162px;
    //height : 194px;
    margin-bottom: 5px;
}

.thumbnail_container { 
    position : relative; 
    top : -40px; 
    left : 0px;
    z-index : 90;
}

/* configuration of separator and group headers */

.separator {
    padding : 2px;
    margin  : 2px;
    float   : left;
    width   : 100%
}

.separator_group {
    padding : 4px;
    margin  : 2px;
    float   : left;
    width   : 100%;
    cursor  : pointer;
    background    : #222222;
    border-bottom : 1px solid gray;
    text-align    : left;
    }
    
/* configuration of elements on camera info page */

.camera_info {
    padding:2px;
    float:left;
    text-align : center;
    width:100%
}

.camera_info_image { 
    float : left;
    margin: 5px;
    width : 30%;
    min-width: 120px;
}

.camera_info_text { 
    float : left;
    margin: 5px;
    text-align : left;
    width : 50%;
}

/* configuration of delete, recycle and video play symbols (overlay on images) */

.play_button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 40%;
    margin-left: -15px; /*half of the width */
    margin-top: -15px; /*half of the height */
    cursor: pointer;
    opacity: 70%;
}

.trash { 
    position : relative;
    top : 6px; 
    left : -45px; 
    width : 20px;
    height : 20px;
    z-index : 100;
    cursor : pointer;
}

.trash_img { 
    width : 20px;
    height : 20px;
}
.star { 
    position : relative;
    top : 3px; 
    left : -45px; 
    width : 20px;
    height : 20px;
    z-index : 100;
    cursor : pointer;
}
.star_img { 
    width : 20px;
    height : 20px;
}

.star_big { 
    position : relative;
    top : 0px; 
    left : -70px; 
    width : 20px;
    height : 20px;
    z-index : 100;
    cursor : pointer;
}

/* configuration of hires overlay - image and video */

.overlay {
    position : fixed;
    display  : none;
    top      : 0;
    left     : 0;
    height   : 100%;
    width    : 100%;
    z-index  : 101;
    background-color : black;
    opacity          : 80%;
}

.overlay_content {
    position : fixed;
    display  : none;
    top      : 0;
    left     : 0;
    height   : 100%;
    width    : 100%;
    z-index  : 102;
}

#overlay_close {
    position : absolute;
    top      : 20px;
    right    : 20px;
    z-index  : 103;
    cursor   : pointer;
}

#overlay_image_container {
    display          : grid;
    opacity          : 100%;
    position         : absolute;
    margin           : auto;
    top              : 50%;
    left             : 50%;
    -ms-transform    : translate(-50%,-50%);
    transform        : translate(-50%,-50%);
    text-align       : center;
    z-index          : 103;
  }
  
#overlay_image {
    max-width        : 95vw;
    max-height       : 95vh;
    transform: scale(0.98);
    margin           : auto;
    background-color : white;
    border           : 5px solid white;
    z-index          : 103;
  }
  
#overlay_video {
    max-width        : 95vw;
    max-height       : 95vh;
    transform: scale(0.98);
    margin           : auto;
    background-color : white;
    border           : 5px solid white;
    z-index          : 103;
  }
  
  
