/* DEFAULT (small) -> iPhone XS -> Laptop and wider */
/* format for iPhone XS in landscape and bigger devices */

@media (min-width: 720px) {

.livestream_main { max-width : 330px; }
.separator_group { width : 98%; font-size : 10px; }
.thumbnail       { width : 125px; }

}

