
.loading_overlay {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 200;
    background: lightgray;
    height: 94%;
    width: 94%;
    border-radius: 20px;
    border: solid 5px gray;
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

@media (prefers-color-scheme: dark) {
    .loading_overlay { background: #111111; border: solid 5px #333333; }
    body { background: #111111; }
}