/* configuration of default HTML elements */

:root {
    --bh-link: blue;
    --bh-link-visited: darkblue;
    --bh-link-hover: darkblue;
}

a         { color  : var(--bh-link); }
a:link    { color  : var(--bh-link); }
a:visited { color  : var(--bh-link-visited); }
a:hover   { color  : var(--bh-link-hover); font-weight : bold; }

h1        { margin : 4px; }
h2        { margin : 4px; }
h3        { margin : 4px; }

body      { background: var(--app-background); }
/* body   { touch-action: none; } */

#remote_nav { height: 100vh; }

#nav2       { width: 100%; z-index: 100; left: 0%; display: block; border-bottom: 1px solid #222222; }
#nav        { width: 51%; z-index: 200; box-shadow: unset; }

#headerRight            { z-index: 101; }
#statusLED              { z-index: 102; }
#statusLEDload          { z-index: 103; }
#headerRightToolTip     { z-index: 104; }


.loading_overlay {
    position        : absolute;
    top             : 0px;
    left            : 0px;
    z-index         : 200;
    background      : var(--app-loading-overlay);
    border          : solid 0px var(--app-loading-overlay);
    height          : 100%;
    width           : 100%;
    border-radius   : 0px;
    border          : 0px;
    display         : flex; /* Add flexbox */
    justify-content : center; /* Center horizontally */
    align-items     : center; /* Center vertically */
}

