/*
* define size of frames and menu
*/

/* INDEX STREAMS ---------------------------------- */

.streams_wrapper {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid blue;
  padding: 5px;
}

.streams_index_overlay {
  position: relative;
  display: inline-block;
  //border: 1px solid red;
}

.streams_index_main {
  max-width: 100%;
  max-height: calc(100vh - 270px);
  min-height: 600px;
  height: auto;
  width: auto;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 3px;
  display: block;
  position: relative; /* or omit this; not absolutely positioned */
}

.streams_index_second {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25%;
  height: auto;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 3px;
}

/* FRAME ELEMENTS --------------------------------- */

/* default fill complete width */
.frame_column.wide {
    width: calc(100% - 20px);
}

.setting_bg.header {
    width: calc(100% - 36px);
}

/* reduce width if menu is shown */
@media (min-width: 890px) {
    .frame_column.wide {
        width: calc(100% - 175px);
    }
    .setting_bg.header {
        width: calc(100% - 191px);
    }
    .separator_group {
        width: 99%;
    }
}