
@media (prefers-color-scheme: dark) {

    :root {
      --day-background: #222222;
      --header-background: #131313;
      --header-text: white;
      --header-text-stage: black;
      --milestone-background: #222222;
      --today-background: #450000;
      --today-border: red;
      --calendar-month: #000066;
      --calendar-weekday: #00008f;
      --type-0-color: #222222;
      --type-1-color: #81C784;
      --type-2-color: #4FC3F7;
      --type-3-color: #FFEB3B;
      --type-4-color: #FF972D;
      --type-5-color: #F06292;
      --type-6-color: #BA68C8;
      --type-7-color: #FF5252;
    }

    .diary-icon.diary-archive { background-image: url('img/image.png'); }
    .diary-icon.diary-video   { background-image: url('img/video.png'); }
    .diary-icon.diary-edit    { background-image: url('img/edit.png'); }
    .diary-icon.diary-add     { background-image: url('img/add.png'); }
    .diary-icon.diary-delete  { background-image: url('img/delete.png'); }
    .diary-icon.diary-info    { background-image: url('img/info.png'); }
}