/* configuration of default HTML elements */ 

a         { color  : blue; }
a:link    { color  : blue; }
a:visited { color  : darkblue; }
a:hover   { color  : darkblue; font-weight : bold; }

h1        { margin : 4px; }
h2        { margin : 4px; }
h3        { margin : 4px; }

#remote_nav { height: 100vh; }

#nav2       { width: 100%; z-index: 100; left: 0%; display: block; border-bottom: 1px solid #222222; }
#nav        { width: 51%; z-index: 200; box-shadow: unset; }

#headerRight            { z-index: 101; }
#statusLED              { z-index: 102; }
#statusLEDload          { z-index: 103; }
#headerRightToolTip     { z-index: 104; }

/* body   { touch-action: none; } */

.loading_overlay {
    position        : absolute;
    top             : 0px;
    left            : 0px;
    z-index         : 200;
    background      : lightgray;
    border          : solid 0px lightgray;
    height          : 100%;
    width           : 100%;
    border-radius   : 0px;
    border          :0px;
    display         : flex; /* Add flexbox */
    justify-content : center; /* Center horizontally */
    align-items     : center; /* Center vertically */
}