/* DEFAULT (small) -> iPhone XS -> Laptop and wider */
/* format for iPhone XS in landscape and bigger devices */


@media (min-width: 705px) {

    .livestream_main { max-width : 640px; }
    .separator_group { width : 98%; }
    .image_container.fixed_height { height : 215px; }

    .camera_info_image { width : 30%; max-height : 120px; }
    .camera_info_image.video_edit { max-height : auto; }
    .camera_info_text  { width : 65%; }
    .weather_hide_if_small { display: block; }
}

@media (min-width: 820px) {

    .thumbnail       { width : 125px; }
    .weather_hide_if_small { display: block; }
}

@media (min-width: 1250px) {

    .livestream_main { max-width : 970px; }
    .weather_hide_if_small { display: block; }
}

