
.loading_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
    background: lightgray;
    border: solid 0px lightgray;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    border:0px;
    display: flex; /* Add flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

@media (prefers-color-scheme: dark) {
    .loading_overlay { background: #111111; border: solid 0px #111111; }
    body { background: #111111; }
}