/* dark scheme */

@media (prefers-color-scheme: dark) {

  input[type="range"].bh-slider, .bh-slider {
	background         : #444444; /* Grey background */
	}

  .bh-slider-value {
	background         : #222222; /* Grey background */
	color              : #DDDDDD;
	}

  .bh-slider-button {
	background         : #666666; /* Grey background */
	color              : #DDDDDD;
	}

  .bh-sliderlabel {
 	}

}


