
/* iPad Air */
@media only screen and
    (device-width : 820px) and (device-height : 1180px) and (orientation : portrait) {
    }
@media only screen and
    (device-width : 820px) and (device-height : 1180px) and (orientation : landscape) {
    }

/* iPad */
@media only screen and
    (device-width : 810px) and (device-height : 1080px) and (orientation : portrait) {
    }
@media only screen and
    (device-width : 810px) and (device-height : 1080px) and (orientation : landscape) {
    }



/* iPad 3 & 4 – Landscape */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) { 
    
        .image_container.fixed_height { height  : 240px; }
        .thumbnail                    { width   : 145px; }
        .thumbnail.error              { width   : 135px; height: 160px; }
	    .frame_column.wide { width : 900px; }
        .recycle         { width   : 30px;  height   : 30px;  top : 30px; }
        .recycle_img     { width   : 30px;  height   : 30px; }
        .star            { width   : 30px;  height   : 30px;  top : 25px; }
        .star_img        { width   : 30px;  height   : 30px; }
        .checkbox        { width   : 30px;  height   : 30px;  top : 25px; }
        .checkbox_img    { width   : 30px;  height   : 30px; }
        .weather_hide_if_small { display: block; }

    }
    
/* iPad 3 & 4 – Portait */    
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
    
    	.frame_column.wide { width : 760px; }
        .thumbnail       { width   : 145px; }
        .thumbnail.error { width   : 135px; height: 140px; }
        .image_container.fixed_height { height  : 240px; }
        .recycle         { width   : 30px;  height   : 30px;  top : 30px; }
        .recycle_img     { width   : 30px;  height   : 30px; }
        .star            { width   : 30px;  height   : 30px;  top : 25px; }
        .star_img        { width   : 30px;  height   : 30px; }
        .checkbox        { width   : 30px;  height   : 30px;  top : 25px; }
        .checkbox_img    { width   : 30px;  height   : 30px; }
        .weather_hide_if_small { display: block; }

    }


/* ----------*/


