/* ... */

.audiostream_bird_container {
    float: left;
    width: 60px;
    height: 60px;
    text-align: left;
    margin: 5px;
}

.audiostream_bird_image {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;
    top: -15px;
}

.audiostream_bird_info {
    cursor: pointer;
    position: relative;
    top: -38px;
    right: -40px;
    color: #888888;
    font-size: 10px;
}

/* configuration of streaming HTML elements */

.livestream_content { 
    width        : 100%; 
    max-height   : 95vh; 
}

.livestream_footer {
    width        : 100%; 
}

.livestream_main_container {
    position     : relative;
    width        : 100%;
    z-index      : 60;
/*    border       : 1px solid green;  */
}

.livestream_main {
    max-width    : 280px;
    max-height   : 90vh;
    transform    : scale(0.98);
    border       : 1px solid white;
}
    
.livestream_2nd_container {
    position     : relative;
    width        : 25%;
    height       : 25%;
    z-index      : 61;
/*    border : 1px solid red;  */
}

.livestream_2nd {
    max-width    : 25vw;
    max-height   : 25vh;
    transform    : scale(1.0);
    border       : 1px solid white;
}


.livestream_links                   { position : relative; }
.livestream_startinfo               { position : relative;  cursor   : pointer;  color : gray; font-size : 10px; top : -160px; }
.livestream_record                  { position : relative;  z-index  : 71; }

/* one live stream with cam1 */

.livestream_main_container.cam1     { top    :   20px; }
.livestream_2nd_container.cam1      {}
.livestream_links.cam1              { bottom :   -5%; }
.livestream_record.cam1             { top    :   20px; }
.livestream_startinfo.cam1          { top    :   40px; }

/* two live streams with cam1 as main stream */

.livestream_main_container.cam1cam2 { top :   -70px; }
.livestream_2nd_container.cam1cam2  { top :     5px;  left : +25vw; }
.livestream_record.cam1cam2         { top :    20px; }
.livestream_links.cam1cam2          { top :   100px; }
.livestream_startinfo.cam1cam2      { top :   100px; }


