
/* Default element in settings - size for iPhone 5c */

.setting_bg {
   font-family : sans-serif;
   width       : 290px;
   margin      : 4px;
   padding     : 5px;
   float       : left;
   
   border-radius    : 5px;   
   background-color : #444444;

   color      : white;
   font-size  : 14px;
   opacity    : 0.9;
}

@media (min-width: 320px and max-width: 706px) {
    .setting_bg.header  { width : 342px; }
}

/* --------------------------------- */

#settings { 
	display       : none; 
	height        : 90%; 
	width         : 90%; 
	margin        : 0 auto; 
	padding       : 2px;
	position      : fixed;
	left          : 5%;
	top           : 5%; 
	z-index       : 90; 
	background    : white; 
	border        : 2px solid #cccccc; 
	border-radius : 10px; 
        font-family   : Helvetica;
        text-align    : center;
        align         : center;
        overflow      : auto;
	} 

#settings.h3 {
        font-size:15px;
        }

.button-settings-api {
    background-color    : lightgray;
    color               : black;
    width               : 90px;
    height              : 40px;
    max-height          : 40px;
    margin              :  3px;
    padding             :  2px;
    overflow            : hidden;
    float               : left;
}

.button-settings-system {
    width           :   24%;
    height          :  90px;
    margin          :  0.5%;
    padding         :   5px;
    float           :  left;
    background      : #117711;
    border          : solid 2px #55AA55;
    }

.button-settings-system.attention {
    background      : #771111;
    border          : solid 2px #AA5555;
    }

.button-settings-system.other {
    background      : #111177;
    border          : solid 2px #5555AA;
    }

@media (max-width: 706px)   { .button-settings-system { width : 32%; } }
@media (min-width: 1250px)  { .button-settings-system { width : 19%; } }

/* STATISTICS --------------------------------- */

.statistic-label {
    float         : left;
    border-radius :  8px;
    height        : 13px;
    max-height    : 13px;
    margin        :  4px;
    padding       :  4px;
    cursor        : pointer;
    font-size     : 11px;
    background    : #dd8888;
    color         : black;
    }

.statistic-label.glow {
  box-shadow: 0px 0px 2px 2px #DDD;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.statistic-label:hover {
      box-shadow: 0px 0px 3px 3px #dd8;
      /* in order: x offset, y offset, blur size, spread size, color */
      /* blur size and spread size are optional (they default to 0) */
}

.statistic-container {
    color       : white;
    background  : #333333;
    border      : 1px gray solid;
    border-radius : 5px;
    width       : 96%;
    padding     : 1%;
    margin      : 1%;
    float       : left;
    }

.statistic-container.label {
    background  : #282828;
    border      : 1px #444444 solid;
    }



/* ERROR MSG --------------------------------- */

.settings_error_msg {
    font-family : sans-serif;
    font-size   : 8px;
    width       : 95%;
    height      : 100px;
    margin      : 3px;

    background-color    : #FFFFDD;
    border-radius       : 3px;
    border              : solid 1px red;
}

#error_log {
        font-size  : 12px;
        text-align : left;
        overflow   : auto;

        width      : 97%;
        height     : 200px;
        float      : left;
        margin     : 2px;
        padding    : 2px;

	font-face	: sanserif;
	font-size	: 10px;
	color		: black;

        border          : red;
        border-radius   : 5px;
        border-style    : solid;
        border-width    : 1px;
        background-color: khaki;
        opacity         : 0.9;
        z-index         : 80;

	position: relative;
	top: 0px;
}

#error_msg {
	display    : none;
	width      : 250px;
	margin     : 0 auto;
	padding    : 10px;
	position   : relative;
	left       : 0;
	top        : 10px;
	z-index    : 10;
	background : white;
	border     : 2px solid #cccccc;
	border-radius:10px;

        font-family: Helvetica;
        text-align : center;
/*        overflow   : auto; */
}
