/* dark scheme */

@media (prefers-color-scheme: dark) {

    a         { color  : #dddd00; }
    a:link    { color  : #dddd00; }
    a:visited { color  : #aaaa00; }
    a:hover   { color  : #dddd00; font-weight : bold; }

    .frame_column      {
         background-color : #222222;
         border           : #333333 1px solid;
         color            : #dddddd;
     }

    .frame_column img    { opacity: 1.0; }
    .overlay_content img { opacity: 1.0; }

    .livestream_main     { border : #dddddd 1px solid; }
    .livestream_2nd      { border : #dddddd 1px solid; }

    .button-video-record {
         background-color : #555555;
         border           : #999999 1px solid;
         color            : #dddddd;
     }

    .separator_group {
         background-color : #444444;
         color            : #eeeeee;
     }

    .jc_tooltip .jc_tooltiptext{
         opacity          : 0.9;
         background-color : #ffcc99;
     }
    .jc_tooltip .jc_triangle1 {
         opacity          : 0.9;
         border-bottom    : 10px solid #ffcc99;
     }

    #move_up {
        background    : #dddddd;
        border        : 3px solid white;
    }

    #move_up_arrow {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
    }

    .detection_label {
        background    : blue;
        color         : white;
    }

    .detection_label.glow {
          box-shadow: 0px 0px 3px 3px #777;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .detection_label:hover {
          box-shadow: 0px 0px 2px 2px #772;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .other_label {
        background    : darkgreen;
        color         : white;
    }
}
