/* iPhone X/XS */
@media only screen and
    (device-width : 375px) and (device-height : 812px) and (orientation : portrait)  {
    }
@media only screen and
    (device-width : 375px) and (device-height : 812px) and (orientation : landscape) {
}
/* iPhone SE2 */
@media only screen and
    (device-width : 375px) and (device-height : 667px) and (orientation : portrait)  {
    }
@media only screen and
    (device-width : 375px) and (device-height : 667px) and (orientation : landscape) {
    }

/* iPhone 5S/C */
@media only screen and
    (device-width : 320px) and (device-height : 568px) and (orientation : portrait)  {

        .separator_group                { width  : 280px; font-size : 9px; }
        .thumbnail                      { width :  88px;  }
        .thumbnail.error                { width :  78px;  height: 90px; }
        .thumbnail_container            { width : 90px; }

        .detection_label.image          { width : 70px; }
        .image_container.fixed_height   { height: 180px;}

        .other_label { font-size: 8px; width: auto; }
    }
@media only screen and
    (device-width : 568px) and (device-height : 320px) and (orientation : landscape) {

        .frame_column.wide { width : 530px; }
        .separator_group                { font-size : 9px; }
        .thumbnail                      { width :  98px;  }
        .thumbnail.error                { width :  88px;  height: 100px; }
        .thumbnail_container            { width : 100px; }

        .detection_label.image          { width : 60px; }
        .image_container.fixed_height   { height: 200px;}
    }

/* iPhone SE2 & X/XS */

@media only screen and
    (device-width : 375px) and (orientation : portrait) {

        .livestream_main                { max-width : 320px; }
        .separator_group                { width  : 328px; font-size : 11px; }
        .thumbnail                      { width :  78px;  }
        .thumbnail.error                { width :  68px;  height: 90px; }
        .thumbnail_container            { width :  80px;  }

        .detection_label.image          { width : 70px; }
        .image_container.fixed_height   { height  : 180px; }

        .camera_info_image .image_container {
            width  : 95%;
            height : 270px;
        }

        .camera_info_image .image_container .thumbnail_container {
            width  : 95%;
            height : 100%;
        }

        .camera_info_image .image_container img {
            min-height  : 200px;
            max-height  : 230px;
        }

        .camera_info_image.video_edit .image_container img {
            min-height  : auto;
            max-height  : 230px;
            max-width   : 230px;
        }
}

/* iPhone XS: landscape */

@media only screen and
    (device-width : 375px) and (device-height : 812px) and (orientation : landscape) {

        .livestream_main { max-width : 330px; }
        .separator_group { font-size : 9px; }

        .image_container.fixed_height { height  : 230px; }

        .thumbnail           { width :  98%;  }
        .thumbnail.error     { width :  96%;  height: 180px; }
        .thumbnail_container { width : 130px; }

        .recycle         { width   : 20px;  height   : 20px;  top : 12px; }
        .recycle_img     { width   : 20px;  height   : 20px; }
        .star            { width   : 20px;  height   : 20px;  top : 5px; }
        .star_img        { width   : 20px;  height   : 20px; }
        .checkbox        { width   : 20px;  height   : 20px;  top : 10px; }
        .checkbox_img    { width   : 20px;  height   : 20px; }

        .frame_column.wide { width : 695px; }

        .weather_hide_if_small { display: block; }
    }

/* ----------*/


