/* labels for object detection */

.download_label {
    background:darkred;
    color:white;
    width:20px;
    border-radius:7px;

    position:relative;
    top:-16px;
    right:-12px;

    z-index:100;
    padding:3px;
    padding-right:6px;
    padding-left:6px;
    font-size:8px;
    min-width:14px;
    text-align:center;
}

.detection_label {
    float         : left;
    border-radius :  8px;
    height        : 12px;
    max-height    : 12px;
    margin        :  5px;
    padding       :  4px;
    cursor        : pointer;
    font-size     : 11px;

    background    : #bbbbff;
    color         : black;
}

.detection_label.image {
    float:none;
    cursor:default;
    max-height:unset;
    height:unset;
    width:100px;
}

.detection_label.glow {
  box-shadow: 0px 0px 3px 3px #333;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.detection_label:hover {
      box-shadow: 0px 0px 2px 2px #700;
      /* in order: x offset, y offset, blur size, spread size, color */
      /* blur size and spread size are optional (they default to 0) */
}

.detection_label_function {
    float         : left;
    border-radius :  8px;
    height        : 12px;
    max-height    : 12px;
    margin        :  5px;
    padding       :  4px;
    cursor        : pointer;
    font-size     : 11px;

    background    : #9999FF;
    color         : black;
}

.detection_label_function.glow {
  box-shadow: 0px 0px 3px 3px #333;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}

.detection_label_function:hover {
      box-shadow: 0px 0px 2px 2px #700;
      /* in order: x offset, y offset, blur size, spread size, color */
      /* blur size and spread size are optional (they default to 0) */
}

.other_label {
    float         : left;
    border-radius :  8px;
    height        : 12px;
    max-height    : 12px;
    margin        :  5px;
    padding       :  4px;
    cursor        : pointer;
    font-size     : 11px;

    background    : #bbffbb;
    color         : black;
}

.other_label:hover {
  box-shadow: 0px 0px 2px 2px #700;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}


@media (prefers-color-scheme: dark) {

    .detection_label {
        background    : blue;
        color         : white;
    }

    .detection_label.glow {
          box-shadow: 0px 0px 3px 3px #777;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .detection_label:hover {
          box-shadow: 0px 0px 2px 2px #772;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .detection_label_function {
        background    : #0000AA;
        color         : white;
    }

    .detection_label_function.glow {
          box-shadow: 0px 0px 3px 3px #777;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .detection_label_function:hover {
          box-shadow: 0px 0px 2px 2px #772;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }

    .other_label {
        background    : darkgreen;
        color         : white;
    }

    .other_label:hover {
          box-shadow: 0px 0px 2px 2px #772;
          /* in order: x offset, y offset, blur size, spread size, color */
          /* blur size and spread size are optional (they default to 0) */
    }
}